



      #section1{
      padding-top:50px;


      }
      #section2{
      background-color:blue;
      width:120px:
      height:400px;


      }
      #section3{

      background-color:green;
      width:1200px:
      height:400px;


      }