<!--
    Add a single form to a page by including {\% include "singleform.html" \%}. (Remove escape characters \)

    Make sure in the render call, you pass a form call 'form', and a button called 'form_button'.
-->
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3" style=""> </div>
        <div class="col-sm-6" style="background-color:MediumSeaGreen;">

            <form class="form-horizontal" style="" action="./{% if form_action %}{{ form_action }}{% endif %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div style="overflow:hidden;padding-left:5%%;">


                        {% for field in form %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <label>{{ field.label }}</label>
                                <div>
                                        {{ field }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endfor %}

                </div>
                <div class="row" style="">
                    <div class="col-sm-2" style="padding-left:1px;background-color:#A9A9A9;">
                        {% if sender %}
                        <a href="/myapp/message/messenger/b?pk={{ sender }}"> file</a>
                        {% endif %}


                    </div>
                    <div class="col-sm-2" style="background-color:#BDB76B;padding-left:1px;">
                        {% if sender %}
                        <a href="/myapp/message/messenger/c?pk={{ sender }}"> pic</a>
                        {% endif %}
                    </div>
                    <div class="col-sm-2" style=""></div>
                    <div class="col-sm-5" style=" background-color:blue;">
                        <input class="btn btn-primary col-sm-12"style="padding-left:1px;" type="submit" value="{{ form_button }}" />
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>




